.form-container {
     width: 600px;
     margin: 0 auto;
     margin-top: 10px;
     background: #FFFFFF;
     border: 1px solid #95A0A7;
     box-sizing: border-box;
     border-radius: 8px;
     display: flex;
     justify-content: center;
     box-shadow: 20px 20px 10px grey;
}

.form-title {
     font-size: 35px;
     color: #2A414F;
     font-weight: 400;
}

.input-group {
     margin-bottom: 20px;
}

.input-group label {
     display: block;
     margin-left: 5px;
}

.input-group input {
     width: 415px;
     height: 55px;
     border: 1px solid #95A0A7;
     box-sizing: border-box;
     border-radius: 5px;
     font-size: 24px;
     padding-left: 5px;
}

.form-submit {
     width: 415px;
     height: 55px;
     left: 526px;
     top: 549px;
     background: rgba(255, 153, 0, 0.3);
     border-radius: 5px;
     border: none;
     font-size: 20px;
     cursor: pointer;
}

.form-submit:hover {
     background: rgba(255, 153, 0, 0.5);
}

.form-link-container {
     margin-top: 9px;
     margin-bottom: 9px;
     display: flex;
     justify-content: center;
}

.form-link {
     color: rgba(255, 153, 0, 1);
     text-decoration: none;
     margin-left: 3px;
}

.or-container {
     display: flex;
     justify-content: center;
     background-color: white;
}

.google-btn {
     width: 415px;
     height: 55px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 10px;
     cursor: pointer;
}

.google-btn img {
     height: 32px;
     width: 32px;
     margin-right: 5px;
     color: rgba(149, 160, 167, 1);
     border-radius: 50%;
}

.google-btn p {
     font-weight: 400;
     font-size: 17px;
     color: #2A414F;
}